[Unit]
Description=APRS Metrics
After=network.target

[Service]
Restart=on-failure
RestartSec=15
ExecStart=/usr/local/bin/raspiaprs

[Install]
Alias=raspiaprs.service
WantedBy=multi-user.target
