[Unit]
Description=APRS Metrics
After=network-online.target

[Service]
Restart=on-failure
StartLimitIntervalSec=300
StartLimitBurst=5
RestartSec=45
ProtectSystem=true
ProtectHome=true
PermissionsStartOnly=true
ExecStart=/usr/bin/raspiaprs

[Install]
Alias=raspiaprs.service
WantedBy=multi-user.target
