# Time interval in seconds between APRS telemetry updates.
SLEEP=600

# [LOGGING]
# Level of log to save into log files. Valid values: [0: off, 1: debug, 2: info, 3: warning, 4: error, 5: critical]
LOG_LEVEL=2
# Maximum size of a log file (in MB).
LOG_MAX_SIZE=1
# Maximum number of rotating log files to keep.
LOG_MAX_COUNT=3

# [APRS]
# Your amateur radio callsign.
APRS_CALL=N0CALL
# The SSID (Secondary Station ID) is a number (0-15) appended to your callsign (e.g., N0CALL-9).
# Common practices include: 0 for a base station, 1 for mobile, 9 for handheld. Set to 0 if not needed.
APRS_SSID=10
# Your 5-digit APRS passcode, calculated based on your callsign.
# Generate your passcode at https://apps.magicbug.co.uk/passcode. Set to -1 to receive only.
APRS_PASSCODE=-1
# The latitude in decimal degrees format.
APRS_LATITUDE=0
# The longitude in decimal degrees format.
APRS_LONGITUDE=0
# The altitude in meters above sea level. Adjust for AGL (Above Ground Level) if preferred.
APRS_ALTITUDE=0
# Symbol and symbol table for APRS position reports.
# Find a list of symbols and symbol tables at https://www.aprs.org/symbols.html
APRS_SYMBOL_TABLE=G
APRS_SYMBOL=&

# [PHG]
# Transmission power in watts.
PHG_POWER=0.1
# Antenna height in feet above average local terrain. This provides a rough indication of antenna effectiveness.
PHG_HEIGHT=5
# Antenna gain in dB.
PHG_GAIN=3
# Antenna direction in degrees. The directivity offsets the PHG circle by one-third in this direction.
PHG_DIRECTION=0

# [APRS-IS]
# APRS-IS server address. 'rotate.aprs2.net' is a rotating server connecting to multiple APRS-IS servers.
APRSIS_SERVER=rotate.aprs2.net
# APRS-IS server port.
APRSIS_PORT=14580
# Filter to limit data received from the APRS-IS server.
# Refer to https://www.aprs-is.net/javAPRSFilter.aspx for more information.
APRSIS_FILTER='m/10 t/m'

# [GPSD]
# Enable or disable GPSD service usage.
GPSD_ENABLE=false
# GPSD host address. Default is localhost.
GPSD_HOST=localhost
# GPSD port. Default is 2947.
GPSD_PORT=2947
# GPSD socket path. Default is /var/run/gpsd.sock.
#GPSD_SOCK=/var/run/gpsd.sock

# [SmartBeaconing™]
# Enable or disable SmartBeaconing™ functionality.
SMARTBEACONING_ENABLE=false
# Speed (km/h) at or above which beacons are sent at the Fast Rate.
SMARTBEACONING_FASTSPEED=100
# Interval (seconds) for beacons when traveling at or above the Fast Speed.
SMARTBEACONING_FASTRATE=30
# Speed (km/h) below which the station is considered stationary.
SMARTBEACONING_SLOWSPEED=40
# Interval (seconds) for beacons when traveling below the Slow Speed.
SMARTBEACONING_SLOWRATE=120
# Minimum time interval (seconds) between beacons during continuous direction changes.
SMARTBEACONING_MINTURNTIME=15
# Minimum course change angle (degrees) to trigger a beacon.
SMARTBEACONING_MINTURNANGLE=30
# Value (degrees) added to Min Turn Angle (divided by current speed) to increase the turn threshold at lower speeds.
SMARTBEACONING_TURNSLOPE=255

# [TELEGRAM]
# Enable or disable Telegram bot notifications.
TELEGRAM_ENABLE=false
# Your Telegram bot token.
# You can obtain a bot token by messaging @BotFather on Telegram and following the /newbot command instructions.
TELEGRAM_TOKEN=BOT_TOKEN
# Your Telegram chat ID or group ID.
TELEGRAM_CHAT_ID=CHAT_ID
# Optional: Topic ID for Telegram group chats.
#TELEGRAM_TOPIC_ID=TOPIC_ID
# Optional: Specific topic ID for location messages in Telegram group chats (if different from above).
#TELEGRAM_LOC_TOPIC_ID=LOC_TOPIC_ID
# Optional: Specific topic ID for general messages in Telegram group chats (if different from above).
#TELEGRAM_MSG_TOPIC_ID=MSG_TOPIC_ID

# [APRSNet]
# Enable or disable daily APRSPHNet transmissions to APRSPH. More info: https://aprs.ph
APRSPHNET_ENABLE=false
# Enable or disable APRSThursday transmissions to ANSRVR. More info: https://aprs.to/events/aprs_thursday / https://aprsph.net/aprsthursday
APRSTHURSDAY_ENABLE=false
# Enable or disable APRSaturday transmissions to 9M4GHZ. More info: https://cqdx.my/aprs
APRSATURDAY_ENABLE=false
# Enable or disable APRSMYSunday transmissions to APRSMY. More info: https://aprsmy.hamradio.my
APRSMYSUNDAY_ENABLE=false
# Enable or disable APRSHamfinity (Sunday) transmissions to 9M4GKS. More info: https://aprs.hamfinity.com
APRSHAMFINITY_ENABLE=false
# Additional sender call signs, separated by commas.
#ADDITIONAL_SENDER=