[Unit]
Description=Raspberry Pi APRS Monitoring Service
Wants=network-online.target
After=network-online.target gpsd.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/RasPiAPRS
ExecStartPre=/bin/sleep 30
ExecStart=/bin/bash /opt/RasPiAPRS/main.sh
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
RestartKillSignal=SIGINT
KillMode=control-group
Restart=always
RestartSec=15
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target