aiohappyeyeballs==2.7.1
    # via aiohttp
aiohttp==3.14.3
    # via raspiaprs
aiosignal==1.4.0
    # via aiohttp
anyio==4.14.2
    # via httpx
aprslib @ git+https://github.com/rossengeorgiev/aprs-python@c2a0f18ce028a4cced582567a73d57f0d03cd00f
    # via raspiaprs
attrs==26.1.0
    # via aiohttp
callsign-regex==0.7.1
    # via raspiaprs
certifi==2026.7.22
    # via
    #   httpcore
    #   httpx
et-xmlfile==2.0.0
    # via openpyxl
frozenlist==1.8.0
    # via
    #   aiohttp
    #   aiosignal
geographiclib==2.1
    # via geopy
geopy==2.5.0
    # via raspiaprs
gpsdclient==1.3.2
    # via raspiaprs
h11==0.16.0
    # via httpcore
httpcore==1.0.9
    # via
    #   httpx
    #   python-telegram-bot
httpx==0.28.1
    # via python-telegram-bot
humanize==4.16.0
    # via raspiaprs
idna==3.18
    # via
    #   anyio
    #   httpx
    #   yarl
multidict==6.7.1
    # via
    #   aiohttp
    #   yarl
openpyxl==3.1.5
    # via callsign-regex
propcache==0.5.2
    # via
    #   aiohttp
    #   yarl
psutil==7.2.2
    # via raspiaprs
python-dateutil==2.9.0.post0
    # via raspiaprs
python-dotenv==1.2.2
    # via raspiaprs
python-telegram-bot==22.8
    # via raspiaprs
six==1.17.0
    # via python-dateutil
yarl==1.24.5
    # via aiohttp
