[Unit]
Description=APRS Metrics
After=network.target

[Service]
Restart=on-failure
RestartSec=5
ExecStart=/usr/local/bin/rpiaprs

[Install]
Alias=rpiaprs.service
WantedBy=multi-user.target
