name: Changelog CI

on:
  pull_request:
    types: [opened]
  push:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Set Release Version'
        required: true

jobs:
  build-changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run Changelog CI
        uses: saadmk11/changelog-ci@v1.2.0
        with:
          changelog_filename: CHANGELOG.md
          config_file: .github/changelog-ci-config.json
          release_version: ${{ github.event.inputs.release_version || github.event.head_commit.id }}
          # github_token: ${{ secrets.GITHUB_TOKEN }}